.env
.python-version
plan.txt
.python-version

logs/
db/snapshots/

__pycache__/
venv/
.idea/
.pytest_cache/

*.pyc

*.session
*.session-journal

claims_temp/

*.session
*.session-journal
